test_data/
/benchmark_results/
/benchmark-results/
.DS_Store
/build/
/build-*/
/build_win
/stderr.txt
/stdout.txt
/local-acceptance
/install-accept-nogdal
/install-accept-gdal
/install-perf-current
/baseline-main
/local-acceptance-*.log
/local-acceptance-*.txt
__pycache__/
*.py[cod]
/build_off
/.idea
